    <!-- Page Header Start -->
    <div class="page-header">
      <div class="container">
        <div class="row">         
          <div class="col-lg-12">
            <div class="inner-header">
              <h3>Login</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Page Header End --> 

    <!-- Content section Start --> 
    <section id="content" class="section-padding">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-5 col-md-6 col-xs-12">
            <div class="page-login-form box">
              <h3>
                Login
              </h3>
              <form class="login-form" (ngSubmit)="login()">
                <div class="form-group">
                  <div class="input-icon">
                    <i class="lni-user"></i>
                    <input type="text" id="userName" name="username" [(ngModel)]="username" class="form-control" placeholder="Username"
                    required autofocus />
                  </div>
                </div> 
                <div class="form-group">
                  <div class="input-icon">
                    <i class="lni-lock"></i>
                    <input type="password" id="inputPassword" name="password" [(ngModel)]="password" class="form-control"
                    placeholder="Password" required />
                  </div>
                </div> 
                <div class="form-group form-check">
                  <input type="checkbox" class="form-check-input" id="exampleCheck1">
                  <label class="form-check-label" for="exampleCheck1">Keep Me Signed In</label>
                </div>
                <button class="btn btn-common log-btn" [disabled]="busy">Submit</button>
                <div class="checkbox mb-3 text-danger" *ngIf="loginError">
                  Login failed. Please try again.
                </div>
              </form>
              <ul class="form-links">
                <li class="text-center"><a href="register.html">Don't have an account?</a></li>
              </ul>

            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Content section End --> 
