
<div class="inner-box my-resume">
    <div class="col-md-12">
        <div class="d-flex justify-content-end">
            <a class=" btn btn-common mr-2" [routerLink]="['/update-job-seeker/', jobSeekerId]" >Update</a>
            <a class=" btn btn-common" [routerLink]="['/delete-job-seeker/', jobSeekerId]" >Delete</a>
        </div>
      </div>
    <div class="author-resume">
        <div class="thumb">
            <img src="../../../assets/img/resume/img-1.png" alt="">
        </div>
        <div class="author-info">
            <h3>{{jobSeekerDetail.fullName}}</h3>
            <p class="sub-title">{{jobSeekerDetail.profession}}</p>
            <p><span class="address"><i class="lni-map-marker"></i>{{jobSeekerDetail.adresse}}</span> <span><i class="ti-phone"></i> {{jobSeekerDetail.phoneNumber}}</span></p>
            <div class="social-link">
                <a target="_blank" href="{{jobSeekerDetail.twitterLink}}" class="Twitter"><i class="lni-twitter-filled"></i></a>
                <a target="_blank" href="{{jobSeekerDetail.facebookLink}}" class="facebook"><i class="lni-facebook-filled"></i></a>
                <a target="_blank" href="{{jobSeekerDetail.linkedInLink}}" class="linkedin"><i class="lni-linkedin-fill"></i></a>
            </div>
        </div>
    </div>
    <div class="about-me item">
        <h3>About Me</h3>
        <p>{{jobSeekerDetail.description}}</p>
    </div>
    <div class="work-experence item">
        <h3>Work Experience</h3>
        <div *ngFor=" let jobSeekerExperience of jobSeekerExperiences">
            <h4>{{jobSeekerExperience.title}}</h4>
            <h5>{{jobSeekerExperience.companyName}}</h5>
            <span class="date">{{jobSeekerExperience.startDate}} - {{jobSeekerExperience.endDate}}</span>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero vero, dolores, officia quibusdam architecto sapiente eos voluptas odit ab veniam porro quae possimus itaque, quas! Tempora sequi nobis, atque incidunt!</p>
            <p><a href="#">4 Projects</a></p>
            <br>
        </div>
    </div>
    <div class="education item">
        <h3>Education</h3>
        <div *ngFor="let jobSeekerEducation of jobSeekerEducations">
            {{jobSeekerEducation.title}}
        </div>
        <h4>Massachusetts Institute Of Technology</h4>
        <p>Bachelor of Computer Science</p>
        <span class="date">2010-2014</span>
        <br>
        <h4>Massachusetts Institute Of Technology</h4>
        <p>Bachelor of Computer Science</p>
        <span class="date">2010-2014</span>
    </div>
</div>