<app-nav></app-nav>

<div class="page-header">
  <div class="container">
      <div class="row">
          <div class="col-lg-12">
              <div class="inner-header">
                  <h3>Update Entreprise</h3>
              </div>
          </div>
      </div>
  </div>
</div>

<section class="section">
  <div class="container">
      <div class="row justify-content-center">
          <div class="col-lg-9 col-md-12 col-xs-12">
              <div class="post-job box">
                  <h3 class="job-title">Update Entreprise</h3>
                  <form class="form-ad" #updateForm="ngForm">
                      <div class="form-group">
                          <label class="control-label">Raison sociale</label>
                          <input type="text" class="form-control" name="Nom"  placeholder="Name" [(ngModel)]="entrepriseDetail.raisonSociale" required>
                      </div>
                      <div class="form-group">
                          <label class="control-label">Adresse</label>
                          <input type="text" class="form-control" name="Adresse" placeholder="Adresse" [(ngModel)]="entrepriseDetail.adresse">
                      </div>
                      <div class="form-group">
                          <label class="control-label">Nombre d'employees</label>
                          <input class="form-control" type="number" name="Nombre employes" placeholder="Nombre d'employés"  [(ngModel)]="entrepriseDetail.nbrEmployee">
                      </div>
                      <div class="form-group">
                        <label class="control-label">Nombre d'employees</label>
                        <input class="form-control" type="number" name="Nombre postes" placeholder="Nombre de postes" [(ngModel)]="entrepriseDetail.nbrPostes">
                    </div>
                      <div class="form-group">
                        <label class="control-label">Secteur</label>
                        <input class="form-control" type="text" name="Secteur" placeholder="Secteur" [(ngModel)]="entrepriseDetail.secteurId">
                    </div>
                      <div class="form-group">
                          <label class="control-label">Category</label>
                          <div class="search-category-container">
                              <label class="styled-select">
                                  <select class="dropdown-product selectpicker">
                                      <option>All Categories</option>
                                      <option>Finance</option>
                                      <option>IT & Engineering</option>
                                      <option>Education/Training</option>
                                      <option>Art/Design</option>
                                      <option>Sale/Markting</option>
                                      <option>Healthcare</option>
                                      <option>Science</option>
                                      <option>Food Services</option>
                                  </select>
                              </label>
                          </div>
                      </div>
                      <div class="form-group">
                        <label class="control-label">description</label>
                        <textarea class="form-control" type="text" name="description" placeholder="description" [(ngModel)]="entrepriseDetail.description">
                        </textarea>
                    </div>
                      <input type="submit" value="send"  class="btn btn-common" (click)="save(updateForm)">
                  </form>
              </div>
          </div>
      </div>
  </div>
</section>
<app-footer></app-footer>